#about1
  #content
    %h1 Listing patients

    %table
      %tr
        %th First name
        %th Last name
        %th Age
        %th Birth date
        %th
        %th
        %th

      - @patients.each do |patient|
        %tr
          %td= patient.first_name
          %td= patient.last_name
          %td= patient.age
          %td= patient.birth_date
          %td= link_to 'Show', patient
          %td= link_to 'Edit', edit_patient_path(patient)
          %td= link_to 'Delete', patient, method: :delete, data: { confirm: 'Are you sure?' }

    %br

    = link_to 'New Patient', new_patient_path
