
.well
  %div
    %p.data
      %b First name:
      = @patient.first_name
    %p.data
      %b Last name:
      = @patient.last_name
  %div
    %p.data
      %b Age:
      = @patient.age
    %p.data
      %b Birth date:
      = @patient.birth_date

= render 'notes/form'

#notes
  - @patient.notes.each do |note|
    = render note

= link_to 'Edit Patient', edit_patient_path(@patient)
